:root {
    --qb-bg-color: #fafafa;
}

body {
    background: var(--qb-bg-color);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pt-10 { padding-top: 10px; }
.mb-10 { margin-bottom: 10px;}

.footer {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.file-input-tag {
    height: 0;
    width: 0;
    top: -10px;
    float: left;
    overflow: hidden;
}

.connected-status-badge {
    font-size: 10px;
    float: right;
    margin-top: 15px;
}

#model-viewer-canvas {
    width: 100%;
    height: 100%;
}